/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2017, 7:26:39 PM
    Author     : Alvaro Wuintanilla, ID: 110289649
*/

.root{
    
}

.app_pane {
 -fx-background-color: #020864;
 -fx-border-width: 2px;
 -fx-border-color: #020864;
}

.dialog_pane {
    -fx-padding:15;
}

.dialog_heading {
    -fx-font-size: 24pt;
    -fx-color:red;
}

.dialog_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.edit_bordered_pane {
    -fx-background-radius: 5.0;
    -fx-padding: 5;
}

.entire_header_pane {
    -fx-background-color: #35609C;
}

.file_bordered_pane { 
    -fx-background-radius: 5.0;
    -fx-padding: 5;
    -fx-spacing: 10;
    -fx-border-right: #7777dd solid 2px;
}

.file_button {
    
}

.file_tooltip {
    
}

.header_label {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-font-family: monospace;
}

.ta_header_pane{
    -fx-background-color: #B2D9FF;
}

.info_pane {
    -fx-border-width: 2px;
    -fx-border-color: #000000;
}

.office_hours_grid{
    -fx-font-family: monospace;
}

.office_hours_grid_time_column_header_pane{
    -fx-background-color: #020864;
}

.office_hours_grid_time_column_header_label{
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.office_hours_grid_day_column_header_pane{
    -fx-background-color: #020864;

}

.office_hours_grid_day_column_header_label{
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.office_hours_grid_time_cell_pane{
    -fx-background-color: #041196;
    -fx-border-style: dotted;
    -fx-border-color: white;
}

.office_hours_grid_time_cell_label{
    -fx-text-fill: white;
}

.office_hours_grid_ta_cell_pane{
    -fx-background-color: #ABAA7A;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.office_hours_grid_ta_cell_label{
    -fx-text-fill: black;
}

.table{
    -fx-font-family: monospace;
    -fx-border-width: 1px;
    -fx-border-color: #020864;
}

.table-view .column-header.table_column_header .label {
    -fx-background-color: #020864;
    -fx-font-family : monospace;
    -fx-text-fill: white;
}

.pane {
    -fx-border-width: 2px;
    -fx-border-color: #000000;
    -fx-background-color: #f4f4f4;
}

.subheader_label {
    -fx-font-size: 12pt;
    
}

.tab_label {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-background-color: #020864;
}

.whole_pane {
    -fx-background-color: #B2D9FF;
}